

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }
    
}

/* Portrait tablets and small desktops */
@media  (min-width:769px) and (max-width: 991px) {
    html {
        font-size: 90%;
    }
   
}

/*anything bigger*/
@media (min-width: 769px) {
   .column {
        float: left;
        width: 50%;
    }

    #img1, #img2, #img3, #im4 {
        padding: 10px;
    }
}    

/* Landscape phones and portrait tablets */
@media (min-width:480px) and (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .sercelist {
        padding: 10px;
    }
    .sercelist .single_dotcom_serce ul.list-inline.no-border li:after {
        left: -13%;
        top: -17%;
    }
    .single_pricing {
        max-width: 80%;
        margin: 30px auto;
    }
    .abouts_area .single_about {
        border-right: 0px dashed #ddd;
        padding-right: 0px;
        max-width: 85%;
        margin: 0 auto;
        padding-bottom: 20px;
        text-align: left;
    }
    .abouts_area .single_team{
        margin-top: 20px;
    }
    
    
    .footer .fo_bottom_right {
        border-right: 0px solid #686868;
    } 
    .footer .footer_menu{
        text-align: center;
        margin-top:20px;
    }
    .footer .single_right_footer{
        margin-bottom:20px;
        max-width: 80%;
    }
   
    
    .home {
        background-size: auto;
        max-width: 100%;        
    }
    .img {
        size: auto;
    }

     #img1, #img2, #img3, #im4 {
        padding: 10px;
    }

    .projects{
        text-align:center;
    }

     .navbar-toggle {
        position: absolute;
        float: right;
       
        padding: 9px 10px;
        right: 7%;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

   
}

@media (max-width:  768px){
     .social b, .social a{
        font-size: 25px;

    }

    .abouts_area .single_team .details p{
        font-size: 25px;
    }

    .abouts_area .single_team .details .social a{
        font-size: 30px;
    }

    .modal-body{
        margin-top: 40px; 
    }
} 

/* Landscape phones and smaller */
@media (min-width:320px) and (max-width: 479px) {
    html {
        font-size: 70%;
    }

    iframe{
        width: 99%;
        height: 315px;
    }

   .abouts_area .single_about {
        border-right: 0px dashed #ddd;
        padding-right: 0px;
        max-width: 85%;
        margin: 0 auto;
        padding-bottom: 20px;
        text-align: left;
    }
    .footer .fo_bottom_right {
        border-right: 0px solid #686868;
    } 
    .footer .footer_menu{
        text-align: center;
        margin-top:20px;
    }
    .footer .single_right_footer{
        margin-bottom:20px;
        max-width: 80%;
    }
    .sercelist {
        padding: 0px;
    }
    .sercelist .single_dotcom_serce ul.list-inline.no-border li:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: -19%;
        top: -15%;
        border-radius: 50%;
    }

    .home {
        background-size: auto;     
    }
    .img {
        size: auto;
    }

     #img1, #img2, #img3, #im4 {
        padding: 10px;
    }

    .pricingtop {
         background-size: auto;
         
    }     

   .projects{
        text-align:center;
    }

    .navbar-toggle {
        position: absolute;
        float: right;
        padding: 9px 10px;
        right: 7%;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

}



@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
}

