
/*

Author: Bootstrapthemes
Author URI: htpt://bootstrapthemes.co

*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: #fff;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
/*==========================================
PRE LOADER 
==========================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
ol,
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
a, p{
 font-family: 'latolight';   
}
.clear {
    clear: both;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #f56363;
}

h1,
h2,
h3 {
    /*font-family: 'Lane', sans-serif;*/
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-family: 'latoheavy';
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    margin-top:50px;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}


.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    min-height: 400px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    padding: 50px 0px;
}
.home-overlay-fluid {
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    padding: 100px 0px;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 1px;
    width: 150px;
    margin: auto;
    background: #dfdfdf;
}
.smallseparator {
    height: 1px;
    width: 80px;
    margin: auto;
    background: #f56363;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #f56363;
    border-color: #f56363;
}



.btn {
    border: 1px solid #3c3c3c;
    display: inline-block;
    min-width: 160px;
    padding: 1em;
    height: 55px;
    text-align: center;
    color: #3c3c3c;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    margin-top: 30px;
}
.btn:hover {
	background-color: transparent;
	color: #000;
	text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #ea6060;
    border-color: #ea6060;
    transition: .6s;	
}

.pink-btn {
    background: #fff;
    border: 1px solid #222222;
    margin-left: 10px;
    color: #222222;
    transition: .6s;
}

.pink-btn:hover {
	background-color: #ea6060;
	color: #fff;
	text-decoration: none;
	border:1px solid #ea6060;
}

.btn-white{
	border:1px solid #fff;
	color:#fff;
	border-radius:5px;
}
.btn-white:hover{
	border:1px solid #000;
	color:#000;
}

.btn-md{
	border:1px solid #fff;
	color:#fff;
	width:162px;
	height:52px;
	background:#ea6060;
}
.btn-md:hover{
	border:1px solid #fff;
	color:#fff;
	background:#bfc2c5;
}

.btn-md2{
	border:1px solid #222222;
	color:#222222;
	width:145px;
	height:42px;
	background:#fff;
	border-radius:4px;
	padding: .6em;
}
.btn-md2:hover{
	border:1px solid #bfc2c5;
	color:#222222;
	background:#bfc2c5;
}
/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

/*for placeholder changes*/

/*input::-webkit-input-placeholder {
  color: #CACACA;
  font-size: 18px;
}
input::-moz-placeholder {
  color: #CACACA;
  font-size: 18px;
}
input:-ms-input-placeholder {
  color: #CACACA;
  font-size: 18px;
}*/

/*for image bg*/


/*.img-bg{
  background: no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}*/

/*  section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
	left: 0; 
	right: 0; 
	z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: black;
    opacity: .9;
    border-bottom: 1px solid transparent;
}
.navbar-default .navbar-collapse {
    border-color: transparent;
    text-align: center;
}

.main_menu_bg{
	margin-top:0px;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
	transition:.6s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:white;
}
.main_menu_bg .navbar {
    margin-bottom: 0px;
	min-height: 90px;
}
.main_menu_bg .container-fluid {
    margin-top: 20px;
}
.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 10px;
	text-transform:uppercase;
}
.main_menu_bg .navbar-default .navbar-nav>.active>a{
    color: white;
    background-color: transparent;
    border-bottom: transparent;
    margin-bottom: -1px;	
}
#logo {
    color:white; 
    font-weight: bold;
    padding-left: 6%;
}

/* Home Section */
.home{
    background: url(../images/nyc.png);
    background-size:cover;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    perspective: 2px;

}


.single_slider p{
    max-width: 70%;
    font-size: 2.375rem;
    margin: 10px auto;
    font-family: 'latobold';
    line-height: 45px;
    color:#fff;
}

.single_slider h2{
    color:#fff;
    font-size:4.525rem;
    font-family: 'latobold';
    margin-bottom:50px;
}

.main_slider_area .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 160px;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-'] {
    color: black;
    background: transparent;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: white;
    text-decoration: none;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: white;
    text-decoration: none;
}




/* pricing top section */

.pricingtop{
    background: url(../images/pricingbg.jpg) no-repeat 40% 100%;
    background-size:cover;
}
/* Pricing Section */
.pricing{
    margin-top:-250px;
}
.pricing_content{
    width:100%;
    margin:0 auto;
}




/* Abouts section */
.about {
    padding: 50px 0px;
}
.abouts_area{
    display: inline-block;
    border-top: 1px dashed #ddd;
    margin-top: 30px;
    padding-top: 95px;
    margin-bottom: 80px;
    padding-right: 0px;
}
.abouts_area .single_about{
    border-right: 1px dashed #ddd;
    width: 100%;
}
.abouts_area .single_about h3{
    font-size:2.1875rem;
    font-family: 'latosemibold';
    
        
}
.abouts_area .single_about p{
    font-size:1.8rem;
    font-family: 'latolight';
    line-height: 1.3em;
    color: black;
        
}


.abouts_area .single_team .team_img img{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 5px solid black;
}
.abouts_area .single_team .team_deatels{
    margin-top:0px;
}
.abouts_area .single_team .team_deatels h4{
    font-size:2.0625rem;
    color:#303030;
    margin-bottom: 0px;
}
.abouts_area .single_team .team_deatels p{
    font-size:1.5rem;
    font-family: 'latothin';
    color: black;
    line-height: 1.3em;
}
.abouts_area .single_team .team_deatels .team_socail{
    margin-left:-15px;
    display: inline-block;
}
.abouts_area .single_team .team_deatels .team_socail a{
    margin-left: 15px;
    display: inline-block;
}
.abouts_area .single_team .team_deatels .team_socail a i{
    color:black;
    font-size:3rem;
    padding: 5px;
}
.abouts_area .single_team .team_deatels .team_socail a:hover i{
    color:#1f89ba;
}




/* testimonial section */

.quotes{
    background: url(../images/commnsbg.jpg) no-repeat 100% 100%;
    background-size: cover;
}

.quotes .single_quotes p{
    max-width: 70%;
    margin: 20px auto;  
    color:#fff;
    font-size:1.25rem;
}
.quotes .single_quotes a{  
    color:#fff;
    font-size:1.25rem;
}

.quotes .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: transparent;
    border: 2px solid #fff;
}
.owl-theme .owl-dots .owl-dot span {
    background: #fff;
}

/* projects section */

.projects{
    padding: 70px 0px;
}

/*footer section */
.footer{
    background: #2a2a2a;
    padding: 80px 0px;
}
.footer .main_footer{
    border-bottom: 1px solid #686868;
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.footer .footer_logo{
    text-align: left;
}
.footer .footer_menu{
    text-align: right;
}
.footer .footer_menu li a{
    font-size:0.8125rem;
    font-family: 'latomedium';
	padding: 0px 10px;
	float:right;
}
.footer a, p{
    color:#686868;
}
.footer a:hover,
i:hover{
    color:#fff;
}
.single_right_footer ul li a i{
    color:#686868;
    padding-right: 5px;
}
.single_right_footer ul li:hover i{
    color:#fff;
}
.footer .fo_bottom_right{
    border-right:1px solid #686868;
    margin-top:20px;   
}

.footer .fo_bottom_socail{
    margin-top:20px;
}
.footer .fo_bottom_socail a i{
    padding-right: 5px;
    display: inline-block;
}
.footer .fo_bottom_socail p, a{
    font-size: 20px;
    color: black;
}


/* scrollup */

.scrollup{
	width: 50px;
	height: 50px;
	border-radius: 15px;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: white;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #222;
	opacity: 1;
}

.scrollup i {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;

}

.scrolly {
    font-size: 1.2em;
    font-weight: bold;
}


#pfp {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    position:relative;
    margin: 5%;
     border: 5px solid white;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*other section*/
.other {
    padding: 60px 0px;
}

/* Create four equal columns that floats next to eachother */
/**/

/* The Modal (background) */
/*.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
*/
/* Modal Content */
/*.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}*/

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

